.container{
    margin: 0 auto;
    display: flex;
    width: 70vw;
    height: 70vw;
    justify-content: center;
    align-content: center;
}
.sudoku {
    width: 100%;
}
.sudoku tr{
    display: flex;
    flex-wrap: wrap;
}
.sudoku td{
    border-left: 2px solid dodgerblue;
    border-top: 2px solid dodgerblue;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sudoku .first-td{
    border-left-color: red;
}
.sudoku .last-td{
    border-right-color: red;
}

.sudoku .styled-td{
    border-left-color: red;
}

.sudoku .styled-tr > td{
    border-top-color: red;
}
.sudoku .first-tr > td{
    border-top-color: red;
}

.sudoku .row{
    display: flex;
}
.sudoku .row .square{
    flex-grow: 1;
}
.sudoku .row .square input{
    width: 100%;
    height: 100%;
}
