.container{
    margin: 0 auto;
    display: flex;
    width: 90vw;
    height: 90vw;
    justify-content: center;
    align-content: center;
}

.sudoku tr{
    display: flex;
    flex-wrap: wrap;
}
.sudoku td{
    border-left: 2px solid dodgerblue;
    border-top: 2px solid dodgerblue;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sudoku .row{
    display: flex;
    border-collapse: collapse;
}
.sudoku .row .square{
    width: 50px;
    height: 50px;
    border-top: 1px solid dodgerblue;
    border-left: 1px solid dodgerblue;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sudoku .row .square input{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
}



.sudoku .first-td{
    border-left-color: red !important;
}
.sudoku .last-td{
    border-right: 1px solid red !important;
}

.sudoku .styled-td{
    border-left-color: red !important;
}

.sudoku .styled-tr > div{
    border-top-color: red !important;
}
.sudoku .first-tr > div{
    border-top-color: red !important;
}
.sudoku .last-tr > div{
    border-bottom: 1px solid red !important;
}

.success{
    background-color: #5cff63;
}
.fail{
    background-color: #ff4c4f;
}
