<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/sudoku-viewer.css}">
</head>
<body>

<form th:action="@{/sudoku/start}" method="post">

    <label for="gridSize">Grid Size</label>
    <select name="gridSize" id="gridSize">
        <option value="9" selected>9x9</option>
        <option value="6">6x6</option>
        <option value="3">3x3</option>
    </select>
    <input type="hidden" name="gridStringData" id="gridStringData">

    <input type="submit" value="resolve" id="submitBtn">


</form>

<div class="container">
    <div class="sudoku">

    </div>
</div>

<script th:src="@{/js/grid-sandbox.js}"></script>
</body>
</html>