<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku Viewer</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/sudoku-viewer.css}">
</head>
<body>
    <div class="container">
        <div class="sudoku">
                <div th:each="row, rowIndex: ${sudokuRows}" th:class="'row '+${(rowIndex.first ? 'first-tr ' : '') + (rowIndex.last ? 'last-tr ' : '') +(rowIndex.index % 3 == 0 && !rowIndex.first ? 'styled-tr' : '')}">
                    <div th:each="case, columnIndex: ${row.getLineCases()}" th:class="'square ' +${(columnIndex.first ? 'first-td ' : '') + (columnIndex.last ? 'last-td ' : '') +(columnIndex.index % 3 == 0 && !columnIndex.first ? 'styled-td' : '')}" th:text="${(case.getValue() != 0 ? case.getValue() : '')}"></div>
                </div>
            <div th:class="'result '+ ${(result == null ? '' : (result ? 'success' : 'failed'))}" th:text="${(result == null ?  '' : (result ? 'The sudoku has been solved' : 'This sudoku cannot be solved'))}"></div>
        </div>
        <a th:href="@{/sudoku/{id}/next-turn(id=${sudokuId})}">next turn</a>
        <a th:href="@{/sudoku/{id}/resolve-all(id=${sudokuId})}">resolve all cases</a>
    </div>

</body>
</html>