<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku Viewer</title>
    <link rel="stylesheet" th:href="@{/css/sudoku-viewer.css}">
</head>
<body>
    <div class="container">
        <table class="sudoku">
            <tbody>
                <tr th:each="row, rowIndex: ${sudokuRows}" th:class="${(rowIndex.first ? 'first-tr ' : '') + (rowIndex.last ? 'last-tr ' : '') +(rowIndex.index % 3 == 0 && !rowIndex.first ? 'styled-tr' : '')}">
                    <td th:each="case, columnIndex: ${row.getLineCases()}" th:text="${case.getValue() != 0 ? case.getValue() : ''}" th:class="${(columnIndex.first ? 'first-td ' : '') + (columnIndex.last ? 'last-td ' : '') +(columnIndex.index % 3 == 0 && !columnIndex.first ? 'styled-td' : '')}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/sudoku/{id}/next-turn(id=${sudokuId})}">next turn</a>
        <a th:href="@{/sudoku/{id}/resolve-all-cases(id=${sudokuId})}">resolve all cases</a>
    </div>

</body>
</html>